{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}"/>
{% endblock %}

{% block content %}


<div class="container">
    <h1 style="text-align: center;color: coral; padding-top: 4%;font-weight: bolder; font-family: 'The Dongle', cursive;">Pitchy Pitches!</h1>

    <h4 style="color: cornflowerblue; text-align: center;padding-top: 1%;"> Here you can add new pitches based on something you are interested in within the different categories!</h4>
    <!-- <h5 style="text-align: center; font-family: 'The Nautigal', sans-serif;font-size: xxx-large; color: rgb(5, 61, 63);"> You will also be able to comment and upvote or downvote the pitches</h5> -->
    <h6 style="text-align: center; font-family: 'Comforter'; font-size: xxx-large; color:rgb(30, 78, 80);">Welcome</h6>

    <a href="/pitch" style="align-items: center;"  class="new-pitch"><input type="button" style="color: black; " value="Add Pitch"></a>


</div>
<br>
<div class="container">
    <div class="row">
        {% for pitch in pitches %}

        <div class="col-sm-6 col-md-4">
            <div class="pitcher">
                <div class="content">
                    <h3> {{pitch.title}}</h3>
                    <p>Category: {{pitch.category}}</p>
                    <p>Pitch: {{pitch.pitch_content}}</p>
                    <button class="btn btn-sm like" (click)="upvote()" > {{pitch.likes}} <i class="bi-hand-thumbs-up-fill" id="like"></i></button>
                    <button class="btn btn-sm hate" (click)="downvote()" >  {{pitch.dislikes}} <i class="bi-hand-thumbs-down-fill" id="dislike"></i></button>
                    <p><a style="background-color: black; color: white;" href=" {{url_for('main.comment',pitch_id = pitch.id)}} " class="btn btn-primary" role="button">Comment</a></p>
                    <!-- <p> <a style="background-color: black;" href="/comment" class="btn btn-primary">Comment</a></p> -->
                    
                </div>
            </div>
        </div> {% endfor %}
    </div>
</div>
{% endblock %}